* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #add8e6;
}

.content {
    display: flex;
    justify-content: center;
}

.pokemon {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
}

@media screen and (max-width: 1000px){
    .content{
        display: grid;
    }
}