html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

body {
    overflow: hidden;
}

.container {
    width: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.navBar {
    background-color: rgb(148, 253, 218);
    height: 5em;
    width: 100vw;
}

.logo {
    margin-top: 2vh;
    margin-left: 2vw;
}

.navOptions {
    width: 100%;
    font-size: 2em;
    position: absolute;
    top: 0.7em;
    left: 25em;
}

a {
    text-decoration: none;
    margin-left: 2em;
    color: #000;
    cursor: pointer;
    border-radius: 0.5em;
}

a:hover {
    transition-duration: 0.5s;
    padding: 0.5%;
    background-color: #eed15e;
}

body {
    background-color: #add8e6;
}

.content {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.pokemon {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    cursor: pointer;
}

.pokemon:hover {
    transition-duration: 0.5s;
    padding: 2em;
}

@media screen and (max-width: 1000px) {
    .content {
        display: grid;
    }
}